@model UserCreateViewModel

<div class="card mb-5">
    <div class="card-body py-4">
        <div id="kt_app_toolbar" class="app-toolbar">
            <div class="d-flex flex-stack w-100">
                <div class="page-title d-flex flex-column justify-content-center gap-2">
                    <h1 class="page-heading fw-bold fs-4 text-gray-900 mb-0"> User Management </h1>
                    <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 text-gray-600 mb-0">
                        <li class="breadcrumb-item"> <a href="/" class="text-gray-600 text-hover-primary">Home</a> </li>
                        <li class="breadcrumb-item"> <span class="bullet bg-gray-400 w-5px h-2px"></span> </li>
                        <li class="breadcrumb-item"> <a href="@Url.Action("Index", "User")"
                                class="text-gray-600 text-hover-primary">User</a> </li>
                        <li class="breadcrumb-item"> <span class="bullet bg-gray-400 w-5px h-2px"></span> </li>
                        <li class="breadcrumb-item text-gray-800 fw-semibold"> Create </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mb-5">
    <div class="card-body">
        <form asp-controller="User" asp-action="Create" method="post" class="form">
            <validation-alert />
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-md-6 fv-row mb-4">
                    <label asp-for="FirstName" class="required form-label fs-7 fw-semibold">First Name</label>
                    <input asp-for="FirstName" class="form-control form-control-sm"
                        maxlength="@ApplicationLimits.User.FirstNameMaxLength" />
                    <span asp-validation-for="FirstName"
                        class="fv-plugins-message-container invalid-feedback fs-8"></span>
                </div>

                <div class="col-md-6 fv-row mb-4">
                    <label asp-for="LastName" class="required form-label fs-7 fw-semibold">Last Name</label>
                    <input asp-for="LastName" class="form-control form-control-sm"
                        maxlength="@ApplicationLimits.User.LastNameMaxLength" />
                    <span asp-validation-for="LastName"
                        class="fv-plugins-message-container invalid-feedback fs-8"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 fv-row mb-4">
                    <label asp-for="Email" class="required form-label fs-7 fw-semibold">Email</label>
                    <input asp-for="Email" type="email" class="form-control form-control-sm"
                        maxlength="@ApplicationLimits.User.EmailMaxLength" />
                    <span asp-validation-for="Email" class="fv-plugins-message-container invalid-feedback fs-8"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 fv-row mb-4">
                    <label asp-for="Password" class="required form-label fs-7 fw-semibold">Password</label>
                    <input asp-for="Password" type="password" class="form-control form-control-sm" />
                    <span asp-validation-for="Password"
                        class="fv-plugins-message-container invalid-feedback fs-8"></span>
                </div>

                <div class="col-md-6 fv-row mb-4">
                    <label asp-for="ConfirmPassword" class="required form-label fs-7 fw-semibold">Confirm
                        Password</label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control form-control-sm" />
                    <span asp-validation-for="ConfirmPassword"
                        class="fv-plugins-message-container invalid-feedback fs-8"></span>
                </div>
            </div>

            <div class="separator separator-dashed my-6"></div>

            <div class="fv-row mb-7">
                <label class="required form-label fs-7 fw-semibold">User Roles</label>
                <select asp-for="SelectedRoles" asp-items="Model.AvailableRoles" class="form-select form-select-sm"
                    multiple="multiple" data-control="select2" data-placeholder="Select user roles">
                </select>
                <span asp-validation-for="SelectedRoles"
                    class="fv-plugins-message-container invalid-feedback fs-8"></span>
            </div>

            <div class="d-flex justify-content-end pt-5">
                <a asp-action="Index" class="btn btn-sm btn-light me-3">Cancel</a>
                <button type="submit" class="btn btn-sm btn-primary">
                    <span class="indicator-label">Create</span>
                    <span class="indicator-progress">
                        Please wait...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>
