@using PW.Application.Common.Constants
@using PW.Web.Areas.Admin.Features.Configuration.ViewModels
@model GeneralSettingsViewModel

@{
    ViewData["Title"] = "Public Profile Settings";
}

<div class="card mb-5">
    <div class="card-body py-4">
        <div id="kt_app_toolbar" class="app-toolbar">
            <div class="d-flex flex-stack w-100">
                <div class="page-title d-flex flex-column justify-content-center gap-2">
                    <h1 class="page-heading fw-bold fs-2 text-gray-900 mb-0">
                        General Settings Configuration
                    </h1>
                    <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 text-gray-600 mb-0">
                        <li class="breadcrumb-item">
                            <a href="/" class="text-gray-600 text-hover-primary">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <span class="bullet bg-gray-400 w-5px h-2px"></span>
                        </li>
                        <li class="breadcrumb-item">
                            <span class="text-gray-600">Configuration</span>
                        </li>
                        <li class="breadcrumb-item">
                            <span class="bullet bg-gray-400 w-5px h-2px"></span>
                        </li>
                        <li class="breadcrumb-item text-gray-800 fw-semibold">
                            General Settings
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<form asp-controller="GeneralSettings" asp-action="Index" method="post" enctype="multipart/form-data" class="form">

    <validation-summary />
    @Html.AntiForgeryToken()

    <div class="card card-flush">
        <div class="card-header card-header-stretch">
            <div class="card-toolbar w-100">
                <ul class="nav nav-tabs nav-line-tabs nav-stretch fs-6 border-0 w-100">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#tab_standard">Standard</a>
                    </li>
                    @foreach (var lang in Model.AvailableLanguages)
                    {
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab_lang_@lang.Id">
                                <div class="d-flex align-items-center">
                                    <img file-name="@lang.FlagImageFileName" folder="@StoragePaths.System_Flags"
                                        default-src="/uploads/system/defaults/image.png"
                                        class="w-15px h-15px rounded-1 me-2" alt="@lang.Name" />
                                    @lang.Name
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div class="card-body pt-5">
            <div class="tab-content" id="profileTabContent">

                <div class="tab-pane fade show active" id="tab_standard" role="tabpanel">

                    <div class="row mb-7">
                        <div class="col-md-6">
                            <label class="form-label fs-7 fw-semibold mb-2">Light Theme Logo</label>
                            <div class="d-flex align-items-center gap-5 mb-3">
                                <div class="symbol symbol-100px symbol-circle border border-gray-300 border-dashed p-2">
                                    <img file-name="@Model.LightThemeLogoPath" folder="@StoragePaths.System_Generals"
                                        default-src="/uploads/system/defaults/light-logo.png" alt="Avatar" />
                                </div>
                                <div class="d-flex flex-column">
                                    @if (!string.IsNullOrEmpty(Model.LightThemeLogoPath))
                                    {
                                        <div class="form-check form-check-custom form-check-solid mb-2">
                                            <input class="form-check-input" type="checkbox"
                                                asp-for="RemoveLightThemeLogo" />
                                            <label class="form-check-label text-gray-700 fs-7"
                                                asp-for="RemoveLightThemeLogo">Remove
                                                current</label>
                                        </div>
                                    }
                                    <input type="file" asp-for="LightThemeLogoImage"
                                        class="form-control form-control-sm" accept=".png, .jpg, .jpeg" />
                                    <div class="text-muted fs-8 mt-2">Allowed types: png, jpg, jpeg.</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label fs-7 fw-semibold mb-2">Dark Theme Logo</label>
                            <div class="d-flex align-items-center gap-5 mb-3">
                                <div class="symbol symbol-100px border border-gray-300 border-dashed p-2">
                                    <img file-name="@Model.DarkThemeLogoPath" folder="@StoragePaths.System_Generals"
                                        default-src="/uploads/system/defaults/dark-logo.png" style="object-fit:cover"
                                        alt="Cover" />
                                </div>
                                <div class="d-flex flex-column">
                                    @if (!string.IsNullOrEmpty(Model.DarkThemeLogoPath))
                                    {
                                        <div class="form-check form-check-custom form-check-solid mb-2">
                                            <input class="form-check-input" type="checkbox" asp-for="RemoveDarkThemeLogo" />
                                            <label class="form-check-label text-gray-700 fs-7"
                                                asp-for="RemoveDarkThemeLogo">Remove
                                                current</label>
                                        </div>
                                    }
                                    <input type="file" asp-for="DarkThemeLogoImage" class="form-control form-control-sm"
                                        accept=".png, .jpg, .jpeg" />
                                    <div class="text-muted fs-8 mt-2">Allowed types: png, jpg, jpeg.</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="separator separator-dashed my-6"></div>

                    <div class="row mb-7">
                        <div class="col-md-6">
                            <label class="form-label fs-7 fw-semibold mb-2">Light Theme Favicon</label>
                            <div class="d-flex align-items-center gap-5 mb-3">
                                <div class="symbol symbol-100px symbol-circle border border-gray-300 border-dashed p-2">
                                    <img file-name="@Model.LightThemeLogoPath" folder="@StoragePaths.System_Generals"
                                        default-src="/uploads/system/defaults/light-favicon.ico" alt="Avatar" />
                                </div>
                                <div class="d-flex flex-column">
                                    @if (!string.IsNullOrEmpty(Model.LightThemeFaviconPath))
                                    {
                                        <div class="form-check form-check-custom form-check-solid mb-2">
                                            <input class="form-check-input" type="checkbox"
                                                asp-for="RemoveLightThemeFavicon" />
                                            <label class="form-check-label text-gray-700 fs-7"
                                                asp-for="RemoveLightThemeFavicon">Remove
                                                current</label>
                                        </div>
                                    }
                                    <input type="file" asp-for="LightThemeFaviconImage"
                                        class="form-control form-control-sm" accept=".ico," />
                                    <div class="text-muted fs-8 mt-2">Allowed types: ico.</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label fs-7 fw-semibold mb-2">Dark Theme Favicon</label>
                            <div class="d-flex align-items-center gap-5 mb-3">
                                <div class="symbol symbol-100px border border-gray-300 border-dashed p-2">
                                    <img file-name="@Model.DarkThemeFaviconPath" folder="@StoragePaths.System_Generals"
                                        default-src="/uploads/system/defaults/dark-favicon.ico" style="object-fit:cover"
                                        alt="Cover" />
                                </div>
                                <div class="d-flex flex-column">
                                    @if (!string.IsNullOrEmpty(Model.DarkThemeLogoPath))
                                    {
                                        <div class="form-check form-check-custom form-check-solid mb-2">
                                            <input class="form-check-input" type="checkbox"
                                                asp-for="RemoveDarkThemeFavicon" />
                                            <label class="form-check-label text-gray-700 fs-7"
                                                asp-for="RemoveDarkThemeFavicon">Remove
                                                current</label>
                                        </div>
                                    }
                                    <input type="file" asp-for="DarkThemeFaviconImage"
                                        class="form-control form-control-sm" accept=".ico" />
                                    <div class="text-muted fs-8 mt-2">Allowed types: ico.</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="separator separator-dashed my-6"></div>

                    <div class="row mb-5">
                        <div class="col-md-12 fv-row mb-7">
                            <label asp-for="SiteTitle" class="form-label fs-7 fw-semibold"></label>
                            <input asp-for="SiteTitle" class="form-control form-control-sm" />
                        </div>
                    </div>
                </div>

                @for (int i = 0; i < Model.Locales.Count; i++)
                {
                    <div class="tab-pane fade" id="tab_lang_@Model.Locales[i].LanguageId" role="tabpanel">

                        <input type="hidden" asp-for="Locales[i].LanguageId" />
                        <input type="hidden" asp-for="Locales[i].LanguageCode" />

                        <div
                            class="alert alert-dismissible bg-light-primary border border-primary border-dashed d-flex flex-column flex-sm-row p-5 mb-10">
                            <i class="ki-duotone ki-information-5 fs-2hx text-primary me-4 mb-5 mb-sm-0 flex-shrink-0"><span
                                    class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                            <div class="d-flex flex-column pe-0 pe-sm-10">
                                <h5 class="mb-1 fs-6">Localization: @Model.AvailableLanguages.FirstOrDefault(x => x.Id ==
                                                                    Model.Locales[i].LanguageId)?.Name</h5>
                            <span class="fs-7 text-gray-600">Values entered here will override the Standard values for
                                this language. Leave empty to use Standard values.</span>
                        </div>
                    </div>

                        <div class="row mb-7">
                            <div class="col-md-6">
                                <label class="form-label fs-7 fw-semibold mb-2">Light Theme Logo</label>
                                <div class="d-flex align-items-center gap-5 mb-3">
                                    <div class="symbol symbol-100px symbol-circle border border-gray-300 border-dashed p-2">
                                        <img file-name="@Model.Locales[i].LightThemeLogoPath"
                                            folder="@StoragePaths.System_Generals"
                                            default-src="/uploads/system/defaults/light-logo.png" alt="Avatar" />
                                    </div>
                                    <div class="d-flex flex-column">
                                    @if (!string.IsNullOrEmpty(Model.Locales[i].LightThemeLogoPath))
                                        {
                                            <div class="form-check form-check-custom form-check-solid mb-2">
                                                <input class="form-check-input" type="checkbox"
                                                    asp-for="@Model.Locales[i].RemoveLightThemeLogo" />
                                                <label class="form-check-label text-gray-700 fs-7"
                                                    asp-for="@Model.Locales[i].RemoveLightThemeLogo">Remove
                                                    current</label>
                                            </div>
                                        }
                                        <input type="file" asp-for="@Model.Locales[i].LightThemeLogoImage"
                                            class="form-control form-control-sm" accept=".png, .jpg, .jpeg" />
                                        <div class="text-muted fs-8 mt-2">Allowed types: png, jpg, jpeg.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label class="form-label fs-7 fw-semibold mb-2">Dark Theme Logo</label>
                                <div class="d-flex align-items-center gap-5 mb-3">
                                    <div class="symbol symbol-100px border border-gray-300 border-dashed p-2">
                                        <img file-name="@Model.Locales[i].DarkThemeLogoPath"
                                            folder="@StoragePaths.System_Generals"
                                            default-src="/uploads/system/defaults/dark-logo.png" style="object-fit:cover"
                                            alt="Cover" />
                                    </div>
                                    <div class="d-flex flex-column">
                                        @if (!string.IsNullOrEmpty(Model.Locales[i].DarkThemeLogoPath))
                                        {
                                            <div class="form-check form-check-custom form-check-solid mb-2">
                                                <input class="form-check-input" type="checkbox"
                                                    asp-for="@Model.Locales[i].RemoveDarkThemeLogo" />
                                                <label class="form-check-label text-gray-700 fs-7"
                                                    asp-for="@Model.Locales[i].RemoveDarkThemeLogo">Remove
                                                    current</label>
                                            </div>
                                        }
                                        <input type="file" asp-for="@Model.Locales[i].DarkThemeLogoImage"
                                            class="form-control form-control-sm" accept=".png, .jpg, .jpeg" />
                                        <div class="text-muted fs-8 mt-2">Allowed types: png, jpg, jpeg.</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="separator separator-dashed my-6"></div>

                        <div class="row mb-7">
                            <div class="col-md-6">
                                <label class="form-label fs-7 fw-semibold mb-2">Light Theme Favicon</label>
                                <div class="d-flex align-items-center gap-5 mb-3">
                                    <div class="symbol symbol-100px symbol-circle border border-gray-300 border-dashed p-2">
                                        <img file-name="@Model.Locales[i].LightThemeFaviconPath"
                                            folder="@StoragePaths.System_Generals"
                                            default-src="/uploads/system/defaults/light-favicon.ico" alt="Avatar" />
                                    </div>
                                    <div class="d-flex flex-column">
                                        @if (!string.IsNullOrEmpty(@Model.Locales[i].LightThemeFaviconPath))
                                        {
                                            <div class="form-check form-check-custom form-check-solid mb-2">
                                                <input class="form-check-input" type="checkbox"
                                                    asp-for="@Model.Locales[i].RemoveLightThemeFavicon" />
                                                <label class="form-check-label text-gray-700 fs-7"
                                                    asp-for="@Model.Locales[i].RemoveLightThemeFavicon">Remove
                                                    current</label>
                                            </div>
                                        }
                                        <input type="file" asp-for="@Model.Locales[i].LightThemeFaviconImage"
                                            class="form-control form-control-sm" accept=".ico" />
                                        <div class="text-muted fs-8 mt-2">Allowed types: ico.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label class="form-label fs-7 fw-semibold mb-2">Dark Theme Favicon</label>
                                <div class="d-flex align-items-center gap-5 mb-3">
                                    <div class="symbol symbol-100px border border-gray-300 border-dashed p-2">
                                        <img file-name="@Model.Locales[i].DarkThemeFaviconPath"
                                            folder="@StoragePaths.System_Generals"
                                            default-src="/uploads/system/defaults/dark-favicon.ico" style="object-fit:cover"
                                            alt="Cover" />
                                    </div>
                                    <div class="d-flex flex-column">
                                        @if (!string.IsNullOrEmpty(Model.Locales[i].DarkThemeFaviconPath))
                                        {
                                            <div class="form-check form-check-custom form-check-solid mb-2">
                                                <input class="form-check-input" type="checkbox"
                                                    asp-for="@Model.Locales[i].RemoveDarkThemeFavicon" />
                                                <label class="form-check-label text-gray-700 fs-7"
                                                    asp-for="@Model.Locales[i].RemoveDarkThemeFavicon">Remove
                                                    current</label>
                                            </div>
                                        }
                                        <input type="file" asp-for="@Model.Locales[i].DarkThemeFaviconImage"
                                            class="form-control form-control-sm" accept=".ico" />
                                        <div class="text-muted fs-8 mt-2">Allowed types: ico.</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="separator separator-dashed my-6"></div>

                        <div class="row mb-5">
                            <div class="col-md-12 fv-row mb-7">
                                <label asp-for="@Model.Locales[i].SiteTitle" class="form-label fs-7 fw-semibold"></label>
                                <input asp-for="@Model.Locales[i].SiteTitle" class="form-control form-control-sm" />
                            </div>
                        </div>

                    </div>
                }
            </div>
        </div>

        <div class="card-footer d-flex justify-content-end py-6 px-9">
            <a asp-action="Index" class="btn btn-sm btn-light me-3">Discard</a>

            <button type="submit" class="btn btn-sm btn-primary">
                <span class="indicator-label">Save Changes</span>
                <span class="indicator-progress">
                    Please wait...
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
            </button>
        </div>
    </div>
</form>
